.card-page {
    &__content {
        transition: height 0.2s ease;
        height: 40px;
    }

    @media (min-width: $desktop) {
        &:not(&--disabled) {
            cursor: pointer;
            transition: box-shadow 0.3s ease;
        }

        &--disabled {
            cursor: default;
        }
    }
}
