.navigation {
    &__item {
        & + & {
            margin-top: toRem(4);
        }
    }

    &__link {
        width: 100%;

        i.icon {
            color: var(--textBrand);
        }
    }
}
