.datepicker {
    width: 100%;
    border: 1px solid var(--controlBorderSecondary);
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    padding: toRem(12) 0 0;
    min-height: toRem(340);

    .mx-datepicker .mx-time .mx-time-content {
        height: toRem(340);
    }

    &__addition {
        padding: toRem(16);
        border-top: 1px solid var(--controlBorderSecondary);
    }

    &__button {
        width: 100%;
    }

    @media (max-width: $maxMobile) {
        border-radius: $borderRadiusTopSectionMobile;
    }

    @media (min-width: $tablet) {
        width: toRem(312);
        height: toRem(340);
    }
}
