.tag {
    &,
    &.card-default {
        transition-property: border, background-color, box-shadow;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        &::before {
            transition: opacity 0.3s ease;
        }
    }

    @media (min-width: $desktop) {
        transition-property: border, background-color;
        cursor: pointer;
    }
}
